/* ------- GENERIC ------- */

:root{
    font-family: sans-serif;

    --light-gray: hsl(214deg 30% 96%);
    --medium-gray: hsl(214deg 15% 92%);
    --dark-gray: hsl(211deg 16% 49%);
    --border-gray: hsl(209deg 32% 88%);
    --green: hsl(90deg 75% 46%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

button {
    font-family: inherit;
    border: none;
    padding: .75rem 1rem;
    border-radius: 2rem;
    background-color: var(--light-gray);
}

button:hover {
    background-color: var(--dark-gray);
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

hr {
    border-top: 1.5px solid var(--border-gray);


}


/* ------------------------------------------------------ */

/* ------- LAYOUT ------- */

body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "me me"
        "as na"
        "as ma"
    ;
     grid-template-rows: 70px 60px 1fr;   
     grid-template-columns: 70px 1fr;
}

body>menu {
    grid-area: me;
    background-color: white;
    border-bottom: 1.5px solid var(--border-gray);
}

body>nav {
    grid-area: na;
    background-color: white;
}

body>aside {
    grid-area: as;
    background-color: white;
    border-right: 1.5px solid var(--border-gray);
}

body>main {
    grid-area: ma;
    background-color: var(--medium-gray);
    overflow: scroll;

    scrollbar-width: thin;
    scrollbar-color: transparent darkgray;
}


/* ------------------------------------------------------ */

/* ------- SEARCHBAR ------- */

menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
}


menu button {
    font-weight: 700;
    background-color: transparent;
}

menu button:hover {
    background-color: inherit;
    color: inherit;
}

.login>button {
    margin-right: 1rem;
}

#sign-up {
    border: 2px solid var(--green);
}

#sign-up:hover {
    background-color: var(--light-gray);
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar>input {
    height: 2rem;
    border: 1px solid var(--border-gray);
    border-right: none;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    padding-left: .7rem;
    width: 40vw;
    font-size: 1rem;
}

.searchbar>input:focus {
    outline: none;
}

.searchbar>div {
    padding: .15rem;
    height: 2rem;
    border: 1px solid var(--border-gray);
    border-left: none;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

/* ------------------------------------------------------ */

/* ------- NAVBAR ------- */

nav {
    display: flex;
    justify-content: space-evenly;
}

nav>button {
    padding: .4rem .8rem;
    margin: .9rem 0;
    
}

/* ------------------------------------------------------ */

/* ------- SIDEBAR ------- */

aside {
    font-size: .65rem;
    text-align: center;
    overflow: scroll;
}

aside>section>li {
    text-align: center;
    padding: 10%;
    margin: 0 10%;
    border-radius: 15%;
}

aside>section>li:hover {
    background-color: var(--light-gray);
}

aside>hr {
    width: 70%;
    margin: 20px auto;
}

aside>p {
    font-weight: 650;
    margin-bottom: 15px;
}

.channels>div>img {
    border-radius: 50%;
    margin: 5px 0;
}


/* ------------------------------------------------------ */

/* ------- VIDEO ROWS ------- */

header {
    background-color: var(--light-gray);
}

#jumbo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 2rem;
}


#jumbo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    padding: 1rem;
}

.jumbo-title>p {
    font-size: 1,5rem;
    color: var(--dark-gray);
    padding: 1.5rem 0;
}

.category-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.vertical-video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
}

.one-row-video {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 2rem;
}

.two-rows-video {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 2rem;
}

.video-details-container {
    display: flex;
    gap: .5rem;
    margin: .75rem 0;
}

.video-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.text>* {
    padding: .3rem
}

.profile-picture>img {
    border-radius: 50%;
}

.thumbnail>img {
    border-radius: .75rem;
}

main button {
    border: 1px solid var(--green);
}


/* ------------------------------------------------------ */

/* ------- INFO & CONTACTS ------- */

footer {
    font-size: .75rem;
    min-height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-weight: 750;
    font-size: .85rem;

}

.privacy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

footer * {
    text-align: center;
}

footer a:hover {
    text-decoration: underline;
}

/* ------------------------------------------------------ */

/* ------- MEDIA QUERIES ------- */

/* --- Desktop M --- */

@media screen and (max-width: 1199px) {

    aside {
        display: none;
    }

    body {
        grid-template-row: 70px 60px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "me"
            "na"
            "ma"
        ;
    }
}


/* --- Desktop S --- */

@media screen and (max-width: 1049px) {

    .desktop-s-hide {
        display: none;
    }

    .two-rows-video {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
    }

    .one-row-video {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* --- Tablet L --- */

@media screen and (max-width: 799px) {

    .tablet-l-hide {
        display: none;
    }

    .two-rows-video {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .one-row-video {
        grid-template-columns: 1fr 1fr;
    }
}


/* --- Tablet S --- */

@media screen and (max-width: 699px) {

    #jumbo-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 200px;
    }
    
}


/* --- Mobile --- */

@media screen and (max-width: 499px) {

    .mobile-hide {
        display: none;
    }

    .two-rows-video {
        grid-template-rows: repeat(4, ifr);
        grid-template-columns: 1fr;
    }

    .one-row-video {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    #jumbo-text {
        justify-content: flex-start;
        padding: 0;
    }
}