/* ------- GENERIC ------- */

:root{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --light-gray: hsl(214deg 30% 96%);
    --medium-gray: hsl(214deg 15% 92%);
    --dark-gray: hsl(211deg 16% 49%);
    --border-gray: hsl(209deg 32% 88%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

button {
    font-family: inherit;
    border: none;
    padding: .75rem 1rem;
    border-radius: 2rem;
    background-color: var(--light-gray);
}

hr {
    border-top: 1px solid var(--border-gray);
}


/* ------------------------------------------------------ */

/* ------- LAYOUT------- */

body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "me me"
        "as na"
        "as ma"
    ;
     grid-template-rows: 70px 60px 1fr;   
     grid-template-columns: 70px 1fr;
}

body>menu {
    grid-area: me;
    background-color: lightgreen;
    border-bottom: 1px solid var(--border-gray);
}

body>nav {
    grid-area: na;
    background-color: lightskyblue;
}

body>aside {
    grid-area: as;
    background-color: lightseagreen;
    border-right: 1px solid var(--border-gray);
}

body>main {
    grid-area: ma;
    background-color: var(--medium-gray);
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent darkgray;
}


/* ------------------------------------------------------ */

/* ------- VIDEO ROWS ------- */

.category-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}


.two-rows-video {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 2rem;
}

.video-details-container {
    display: flex;
    gap: .5rem;
    margin: .75rem 0;
}

.video-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.text>* {
    padding: .3rem
}



.profile-picture>img {
    border-radius: 50%;
}

.thumbnail>img {
    border-radius: .75rem;
}


/* ------------------------------------------------------ */

/* ------- MEDIA QUERIES ------- */

/* --- Desktop M --- */

@media screen and (max-width: 1199px) {
    body {
        grid-template-row: 70px 60px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "me"
            "na"
            "ma"
        ;
    }
}


/* --- Desktop S --- */

@media screen and (max-width: 1049px) {

    .desktop-s-hide {
        display: none;
    }

    .two-rows-video {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
    
}


/* --- Tablet L --- */

@media screen and (max-width: 799px) {

    .tablet-l-hide {
        display: none;
    }

    .two-rows-video {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

}


/* --- Tablet S --- */

@media screen and (max-width: 699px) {
    
}


/* --- Mobile --- */

@media screen and (max-width: 499px) {
    .two-rows-video {
        grid-template-rows: repeat(4, ifr);
        grid-template-columns: 1fr;
}